
input {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 0 5px;
}
.container {
    margin-bottom: 20px;
}
.userList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.user {
    flex-grow: 1;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #FF9D3D;
    margin: 2px 2px;
    border-radius: 3px;
    transition: all 150ms ease-in;
}
.user:hover {
    box-shadow: 0px 0px 20px darkgray;
    transform: scale(1.03);
    background-color: #FF860E;
}
.user a {
    display: block;
    margin-top: 10px;
    color: #552A00;
    font-weight: bold;
}